<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EC2 Metadata</title>
</head>
<body>
    <h2>Instance ID:</h2>
    <p><%= instanceId %></p>
    <h2>Availability Zone:</h2>
    <p><%= azId %></p>
</body>
</html>